@import "../../styles/tokens/_colors.scss";

.input-label {
  margin-bottom: 8px;
  color: $stellar-light;
}

.input {
  padding: 10px;
  border: 2px solid $blue-deep;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: transparent;
  &:disabled {
    background: $stellar-dark;
    color: $stellar-light;
    border-color: $stellar-light;
  }
  &--primary {
    background-color: $blue-deep;
    color: $stellar-light;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      background-color: $blue-night;
      outline: none;
      transition: background-color 0.5s ease-in-out;
    }
  }

  &--secondary {
    background-color: $purple-galaxy;
    color: $stellar-light;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      background-color: $purple-nebula;
      transition: background-color 0.5s ease-in-out;
    }
  }

  &--alert {
    background: $sun-gradient;
    color: $stellar-light;
    border-color: $sun-fire;
  }
}
