@import "../../styles/tokens/_colors.scss";

[data-component="input-starsystem"] {
  .input {
    padding: 10px;
    border: 2px solid $blue-deep;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: transparent;
    &:disabled {
      background: $stellar-dark;
      color: $stellar-light;
      border-color: $stellar-light;
      cursor: not-allowed;
    }
    &--primary {
      background-color: $blue-deep;
      color: $stellar-light;
      transition: background-color 0.5s ease-in-out;

      &:focus {
        background-color: $blue-night;
        outline: none;
        transition: background-color 0.5s ease-in-out;
      }
    }

    &--secondary {
      background-color: $purple-nebula;
      color: $stellar-light;
      transition: background-color 0.5s ease-in-out;

      &:focus {
        background-color: $purple-galaxy;
        transition: background-color 0.5s ease-in-out;
      }
    }

    &--alert {
      background: $sun-gradient-light;
      color: $stellar-light;
      border-color: $sun-fire;
    }
  }
}
