@import "../../styles/tokens/_colors.scss";

[data-component="button-starsystem"] {
  padding: 7px;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
  }
  &.button {
    &--primary {
      background-color: $blue-deep;
      color: $stellar-light;
      transition: background-color 0.5s ease-in-out;

      &:hover {
        background-color: $blue-night;
        transition: background-color 0.5s ease-in-out;
      }
    }

    &--secondary {
      background-color: $purple-nebula;
      color: $stellar-light;
      transition: background-color 1s ease-in-out;
      &:hover {
        background-color: $purple-galaxy;
        transition: background-color 1s ease-in-out;
      }
    }

    &--error {
      background-color: $sun-fire;
      color: $stellar-light;
    }

    &--alert {
      background: $sun-gradient-light;
      color: $stellar-light;
    }
  }
  &.size {
    &--small {
      font-size: 12px;
      padding: 7px 17px;
      border-radius: 11px;
    }
    &--medium {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 11px;
    }
    &--large {
      font-size: 16px;
      padding: 13px 23px;
      border-radius: 11px;
    }
  }
  &:disabled {
    background: $stellar-dark;
    color: $stellar-light;
    text-decoration: line-through transparent;
    transition: text-decoration 300ms ease;
    &:hover {
      background: $stellar-dark;
      text-decoration: line-through;
      transition: text-decoration 1s ease-in-out;
      cursor: not-allowed;
    }
  }
}
